.chatslist.MuiList-root {
  background-color: white;
  border-radius: 4px 0px 0px 4px;
  padding-left: 7px;
  width: 300px;
  height: 300px;
  justify-content: center;
}
.closebtn {
  border: 2px solid gray;
  border-radius: 60px;
  font-size: 20px;
  align-self: baseline;
  padding: 0 9px;
  margin-left: 5px;
}