.navigation {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: calc(10px + 2vmin);
}

.navigation:after {
  position: absolute;
  height: 2px;
  width: 450px;
  background-color: white;
  content: "";
  top: 15px;
  font-size: calc(10px + 2vmin);
}

.navigation li {
  position: relative;
  padding: 0 10px;
  margin-top: 25px;
}

.navigation li a{
  color: white;
}

.chats-ui {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}